
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}
.nav-logo {
    height: 10vh;
}
nav {
    background-color: #7E0D0D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 5rem;
    width: 100vw;
}
nav a {
    color: #AE8A49;
    text-decoration: none;
    font-size: 3rem;
}
nav li {
    list-style: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}
.feet {
    position: absolute;
    left: 0;
    bottom: 0;
}
header {
    min-height: 6.8vh;
}
.out {
    color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5rem;
    height: 30rem;
}
footer {
    background-color: black;
    color: brown;
    font-size: 3rem;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    width: 100vw;
}
footer img {
    height: 10vh;

}
.Copy {
    color: darkgray;
}
h4 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.6rem;
}
h2 {
    font-size: 2.0rem;
}
h1 {
    font-size: 3rem;
}
p {
    font-size: 1.4rem;
}
iframe {
    width: 30vw;
}
.albums {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.album {
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
}
iframe {
    border-radius: 12px;
}